<div class="row">
    <div class="col">
      <form (submit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <input class="form-control" placeholder="email" type="email" name="email" ngModel required email>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="password" type="password" name="password" ngModel required>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>