<div class="spinner-border" style="display:block; margin: 0 auto" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>
<div *ngIf="!isLoading">
  <div class="accordion" id="accordionExample">
    <app-post-item  *ngFor="let post of posts; let i = index" [resultsPerPage]="resultsPerPage" [currentPage]="currentPage" [post]=post [index]="i" ></app-post-item>
  </div>  
  <div *ngIf="resultsPerPage < postLength" >
    <app-paginator [posts]="posts" [postLength]="postLength" [resultsPerPage]="resultsPerPage" *ngIf="posts"></app-paginator>
  </div>
  
  
</div>